.banner {
  width: 100%;
  height: 50px;
  background-color: white;
  margin: none;
  border: none;
  padding: 0;
}
body {
  width: 100%;
  padding: 0;
  border: 0px;
  margin: 0px;
}

.buy {
  width: 100px;
  height: 30px;
  position: absolute;
  right: 55px;
  top: 1.7%;
  background-color: rgb(241, 13, 13);
  -webkit-text-fill-color: white;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.buy:hover {
  opacity: 0.75;
}
.line {
  width: 100%;
  height: 3px;
  background-color: red;
}
.secbanner {
  width: 100%;
  height: 100px;
  background-color: #24243e;
  margin: 2px;
  border-width: 0px;
  padding: 0;
}
.sb {
  -webkit-text-fill-color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 18px;
  position: absolute;
  left: 14%;
  top: 12%;
  display: flex;
  white-space: nowrap;
}
body {
  background: linear-gradient(270deg, black, rgb(46, 45, 45), rgb(50, 47, 47));
  max-width: 100%;
  overflow-x: hidden;
}
.txt {
  font-weight: bolder;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-text-fill-color: gold;
  position: absolute;
  justify-content: center;
  top: -6%;
  right: 32%;
}
.bg {
  width: 100%;
  height: 38vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(
    90deg,
    rgb(72, 72, 205),
    rgb(21, 37, 209),
    rgb(82, 17, 162)
  );
  background-size: cover;
  display: flex;
  justify-content: center;
  float: left;
}
.a {
  background-color: #24243e;
  border: 0;
  margin-left: 14%;
  padding-left: none;
  position: relative;
  left: 60%;
  -webkit-text-fill-color: #aaa9af;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 500;
}
.a:hover {
  opacity: 0.5;
  cursor: pointer;
}
.buynow :hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.buynow {
  width: 150px;
  height: 40px;
  border-radius: 40%;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: linear-gradient(turquoise, rgb(31, 137, 102));
  position: absolute;
  bottom: -10px;
  left: 1000px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}
.buynow:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.demo:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.demo {
  width: 147.43px;
  height: 44.4px;
  border-radius: 40%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: linear-gradient(turquoise, rgb(31, 137, 102));
  position: absolute;
  bottom: 120px;
  left: 120px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200px;
}
.docu {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-text-fill-color: white;
  position: absolute;
  bottom: 120px;
  left: 320px;
  font-size: 18px;
  font-weight: 400;
}
.docu:hover {
  text-decoration: underline;
  cursor: pointer;
}
.landing {
  font-size: xx-large;
  text-align: center;
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: -17%;
  left: 43%;
  -webkit-text-fill-color: greenyellow;
  font-weight: 400;
  text-size-adjust: auto;
  white-space: nowrap;
}
.line-2 {
  text-size-adjust: 80%;
  font-size: 20px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: -10%;
  left: 25%;
  -webkit-text-fill-color: #cc2b5e;
  font-weight: 300;
}
.h {
  -webkit-text-fill-color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  right: 20000px;
  font-family: sans-serif;
  position: absolute;
  left: 10%;
  top: 40%;
  white-space: nowrap;
  font-weight: 500px;
}
.subh {
  -webkit-text-fill-color: rgb(171, 168, 168);
  font-size: 20px;
  text-align: center;
  right: 20000px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 70px auto;
  position: absolute;
  left: 10%;
  top: 50%;
  white-space: nowrap;
  font-weight: 300;
}

.flexbox-container {
  position: absolute;
  top: 93%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 130%;
  margin: 30px;
  flex-grow: 1;
}
.flexbox-item {
  width: 20%;
  color: aqua;
  border: none;
  background: linear-gradient(#00ccff, #d400d4);
  padding: 50px;
  margin: 30px;
  text-align: center;

  flex-direction: row;
}

.num {
  position: relative;
  top: 30px;
  font-size: xx-large;
  -webkit-text-fill-color: black;
  font-family: Poppins, sans-serif;
}

.flexbox-item:hover {
  opacity: 0.5;
  transform: scale(1.05);
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.flexbox-item-1 {
  min-height: 100px;
}
.flexbox-item-2 {
  min-height: 100px;
}
.flexbox-item-3 {
  min-height: 100px;
}

.flexbox-item-4 {
  min-height: 100px;
}
.flexbox-item-5 {
  min-height: 100px;
}
.flexbox-item-6 {
  min-height: 100px;
}
.flexbox-item-7 {
  min-height: 100px;
}
.flexbox-item-8 {
  min-height: 100px;
}
.flexbox-item-9 {
  min-height: 100px;
}
.flexbox-item-10 {
  min-height: 100px;
}
.flexbox-item-11 {
  min-height: 100px;
}
.flexbox-item-12 {
  min-height: 100px;
}
@media all and (max-width: 1220px) {
  .namebox {
    display: none;
    justify-content: center;
  }

  .mainhead {
    font-size: 10px;
  }
}
@media all and (max-width: 1220px) {
  .landing {
    position: absolute;
    margin-top: 10%;
    left: 30%;
  }
  .line-2 {
    position: absolute;
    left: 0%;
    margin-top: 5%;
  }
  .inner {
    position: absolute;
    left: 14%;
  }
  .group {
    position: absolute;

    margin-top: 5%;
  }
  .header {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 25%;
    margin-right: 20%;
    text-align: center;
  }
  .build {
    position: absolute;
    margin-top: 30%;
    left: -5%;
  }
  .docu-button {
    display: none;
  }
}

.txt {
  text-align: center;
  top: -5%;
  left: 30%;
}
.subh {
  white-space: none;
}

.a {
  display: none;
}
.flexbox-item {
  min-width: max-content;
}
.buynow {
  display: none;
}

.namebox {
  height: 400px;
  width: 500px;
  background-color: black;
  position: relative;
  top: 200%;
  left: 60%;
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  border-radius: 30%;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 10px;
}
.namebox::before {
  content: "";
  position: absolute;

  width: 150px;
  height: 550px;
  right: 35%;
  bottom: -20%;
  background: linear-gradient(#cc2b5e, #753a88);
  animation: animate 4s linear infinite;
}
.text {
  content: "";
  position: absolute;
  inset: 10px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text {
  -webkit-text-fill-color: gold;
  position: relative;
  top: 48%;
  right: 2%;
  text-align: center;
  transform: translateY(-50%);
}
.fbox-container {
  position: absolute;
  margin: none;
  border: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 130%;

  flex-grow: 1;
  width: 100%;
}
.fbox-item:hover {
  opacity: 0.5;
  transform: scale(1.05);
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fbox-item {
  width: 100%;
  color: aqua;
  border: none;
  padding: 0px;
  margin: 0px;
  height: 300px;
  align-items: flex-start;
}
.l1 {
  height: 2px;
  width: 100%;
  background-color: yellowgreen;
}
.inner {
  -webkit-text-fill-color: greenyellow;
  text-align: center;
  font-family: Helvetica;
  font-size: xx-large;
  position: absolute;
  top: 113%;
  left: 44%;
  font-weight: 400;
}
.group {
  -webkit-text-fill-color: #cc2b5e;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  position: absolute;
  top: 120%;
  left: 23%;
  font-weight: 300;
}

.fbox-container {
  position: absolute;
  background: linear-gradient(
    90%,
    rgb(30, 29, 29),
    rgb(90, 79, 79),
    rgb(41, 40, 40)
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 130%;
  margin: 30px;
  flex-grow: 1;
}
.fbox-item {
  width: 20%;
  color: aqua;
  border: 15px;
  background: linear-gradient(#00ccff, #d400d4);
  padding: 50px;
  margin: 30px;
  text-align: center;
  flex-direction: row;
}

.fbox-item-1 {
  min-height: 100px;
}

.fbox-item-2 {
  min-height: 100px;
}
.fbox-item-3 {
  min-height: 100px;
}
.fbox-item-4 {
  min-height: 100px;
}
.fbox-item-5 {
  min-height: 100px;
}
.fbox-item-6 {
  min-height: 100px;
}
.header {
  font-family: Helvetica;
  -webkit-text-fill-color: greenyellow;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 37%;
  font-size: xx-large;
  padding: 30px;
  font-weight: 400;
}
.build {
  font-family: Helvetica;
  -webkit-text-fill-color: #cc2b5e;
  text-align: center;
  position: absolute;
  top: 105%;
  left: 14%;
  font-size: 20px;
  padding: 5%;
  white-space: wrap;
  font-weight: 300;
}
.box-container {
  position: absolute;
  margin: none;
  border: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 130%;

  flex-grow: 1;
  width: 100%;
}
.box-item:hover {
  opacity: 0.5;
  transform: scale(1.05);
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(10px, 5px);
}
.box-item {
  width: 100%;
  color: aqua;
  border: none;
  padding: 0px;
  margin: 0px;
  height: 300px;
  align-items: flex-start;
}
.box-item {
  width: 20%;
  color: aqua;
  border: 15px;
  background: linear-gradient(#00ccff, #d400d4);
  padding: 50px;
  margin: 30px;
  text-align: center;
  flex-direction: row;
}
.number-container {
  display: flex;
  position: absolute;
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}
.number {
  position: relative;
  flex-direction: row;
  width: 30%;
  border: none;
  padding: 0px;
  margin: 0px;
  height: 300px;
  margin: 10px;
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
  text-align: center;
  border-radius: 2%;
}
.numb {
  -webkit-text-fill-color: rgb(25, 228, 58);
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  top: 0%;
  left: 38%;
  font-size: 70px;
}
.para {
  font-size: 20px;
  -webkit-text-fill-color: white;
}
.subpara1 {
  font-size: 20px;
  font-weight: 300;
  margin-top: px;
  -webkit-text-fill-color: #88888f;
  overflow: clip;
}
.subpara2 {
  margin-top: 6%;
  font-size: 20px;
  font-weight: 300;
  margin-top: px;
  -webkit-text-fill-color: #88888f;
}
.subpara3 {
  margin-top: 6%;
  font-size: 20px;
  font-weight: 300;
  margin-top: px;
  -webkit-text-fill-color: #88888f;
  white-space: wrap;
}
.docu-button {
  width: 15%;
  height: 7%;
  border-radius: 40%;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: linear-gradient(rgb(8, 8, 199), rgb(0, 47, 255));
  position: absolute;
  bottom: -30%;
  left: 38%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  -webkit-text-fill-color: white;
  white-space: nowrap;
  text-align: center;
}
.docu-button:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
footer {
  text-align: center;
  font-size: x-large;
  font-family: Helvetica;
  -webkit-text-fill-color: #cc2b5e;
  height: 800px;
  width: 100%;
  background: linear-gradient(270deg, black, rgb(46, 45, 45), rgb(50, 47, 47));
  padding: 30px;
}
.d2 {
  font-weight: 400;
  -webkit-text-fill-color: greenyellow;
}
.comp {
  font-size: 20px;
  font-weight: 300;
}
.footer {
  height: 300px;
  width: 120%;
  justify-content: center;
  position: relative;
  bottom: -80%;
  left: -20%;
  background: linear-gradient(rgb(82, 197, 226), rgb(8, 133, 243));
}
.item-1 {
  height: 100%;
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 10%;
  display: flex;
  flex-direction: row;
}
.item-2 {
  height: 100%;
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 30%;
  display: flex;
  flex-direction: row;
}
.item-3 {
  height: 100%;
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  display: flex;
  flex-direction: row;
}
.item-4 {
  height: 100%;
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 70%;
  display: flex;
  flex-direction: row;
}

.item-5 {
  height: 100%;
  width: 15%;
  position: absolute;
  left: 120%;
}
.main-head {
  -webkit-text-fill-color: #24243e;
  font-size: 20px;
  position: absolute;
  text-align: center;
  left: 25%;
  top: 5%;
}
.product {
  font-size: 20px;
  position: absolute;
  top: 11%;
}
.technical {
  font-size: 20px;
  position: absolute;
  top: 11%;
}
.includes {
  font-size: 20px;
  position: absolute;
  top: 11%;
}
.legal {
  font-size: 20px;
  position: absolute;
  top: 11%;
  right: 50%;
}
.sub {
  font-size: 20px;
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  display: block;
  -webkit-text-fill-color: #0f0c29;
  top: 30%;
  left: 20%;
}
.subdiv {
  font-weight: 300;
}
.subdiv:hover {
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 30%;
  scrollbar-color: black;
}

::-webkit-scrollbar-thumb {
  background: #f00;
  background: linear-gradient(transparent, rgb(48, 216, 26));
  border-radius: 7px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(247, 15, 15));
}
